.navBtn {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    border-bottom: 3px solid transparent;
}

.navBtn:hover {
    border-bottom: 3px solid white;
}

.avatar {
    width: 70px;
    border-radius: 100%;
}

.select {
    border: 0;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10;
    font-size: 17px;
    font-weight: bold;
}

.select option {
    font-size: 15px;
    
}