.navBtn {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    border-bottom: 4px solid transparent;
}

.navBtn:hover {
    border-bottom: 4px solid white;
}

.avatar {
    width: 70px;
    border-radius: 100%;
}

.nav-avatar {
    width: 45px;
    border-radius: 100%;
    border: 2px solid #aaa !important;
}

.nav-avatar:hover {
    border: 2px solid white !important;
}

.doctorImg {
    width: 90%;
}

.profilePic {
    width: 100px;
    border-radius: 100%;
}