.navBtn {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    border-bottom: 4px solid transparent;
}

.navBtn:hover {
    border-bottom: 4px solid white;
}

.avatar {
    width: 70px;
    border-radius: 100%;
}

.nav-avatar {
    width: 45px;
    border-radius: 100%;
    color: #a6b3bf;
}